<div class="container-fluid mb-4">
  <h1 class="mb-4">Users</h1>
  <div class="row">
    <div class="col-12 mb-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Firstname</th>
            <th scope="col">Surname</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.userName }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ngb-accordion class="mt-2" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Add User">
      <ng-template ngbPanelContent>
        <form [formGroup]="userForm" (ngSubmit)="submit()">
          <fieldset>
            <div class="form-group">
              <label for="firstname" class="form-label mt-4"
                >Enter Your Name</label
              >
              <input
                type="text"
                class="form-control"
                id="firstname"
                placeholder="firstname"
                formControlName="firstname"
              />
            </div>
            <div class="form-group">
              <label for="firstname" class="form-label mt-4"
                >Enter Your Lastname</label
              >
              <input
                type="text"
                class="form-control"
                id="lastname"
                placeholder="lastname"
                formControlName="lastname"
              />
            </div>
            <div class="form-group">
              <label for="username" class="form-label mt-4"
                >Enter Username</label
              >
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="username"
                formControlName="username"
              />
            </div>
            <div class="form-group">
              <label for="email" class="form-label mt-4">Enter an E-Mail</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="email"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label for="password" class="form-label mt-4"
                >Enter a Password</label
              >
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="password"
                formControlName="password"
              />
            </div>
            <div class="form-group">
              <button
                class="btn btn-lg btn-light"
                type="submit"
                style="width: 100%"
              >
                Add User
              </button>
            </div>
          </fieldset>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
 
  <ngb-accordion class="mt-2" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Delete User">
      <ng-template ngbPanelContent>
        <form [formGroup]="userDeleteForm" (ngSubmit)="deleteSubmit()">
          <fieldset>
            <div class="form-group">
              <label for="delete" class="form-label mt-4"
                >Select an Username</label
              >
              <select
                class="form-select"
                id="delete"
                formControlName="usernameDelete"
              >
                <option></option>
                <option *ngFor="let user of users">{{ user.userName }}</option>
              </select>
            </div>
            <div class="form-group">
              <button
                class="btn btn-lg btn-light"
                type="submit"
                style="width: 100%"
              >
                Delete User
              </button>
            </div>
          </fieldset>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
   <!--
  <ngb-accordion class="mt-2" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Update User">
      <ng-template ngbPanelContent>
        <form [formGroup]="userUpdateForm" (ngSubmit)="updateSubmit()">
          <fieldset>
            <div class="form-group">
              <label for="delete" class="form-label mt-4"
                >Select an Username</label
              >
              <select
                class="form-select"
                id="delete"
                formControlName="usernameDropdown"
                (change) = "onUsernameChange()"
              >
                <option></option>
                <option *ngFor="let user of users">{{ user.userName }}</option>
              </select>
            </div>
            <div *ngIf="updateBoolean">
              
              <div class="form-group">
                <label for="username" class="form-label mt-4"
                  >Enter Username</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="username"
                  formControlName="username"
                  
                />
                
              </div>
              <div class="form-group">
                <label for="email" class="form-label mt-4">Enter an E-Mail</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="email"
                  formControlName="email"
                />
              </div>
              <div class="form-group">
                <label for="password" class="form-label mt-4"
                  >Enter a Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="password"
                  formControlName="password"
                />
              </div>
              <div class="form-group">
                <label for="admin" class="form-label mt-4"
                  >Select Admin Status</label
                >
                <select class="form-select" id="admin" formControlName="admin">
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>
             
            </div>
            <div class="form-group">
              <button
                class="btn btn-lg btn-light"
                type="submit"
                style="width: 100%"
              >
                Update User
              </button>
            </div>
          </fieldset>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
-->