<div class="container-fluid mb-4">
  <h1 class="mb-4">Cars</h1>
  <div class="row">
    <div class="col-7">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              src="./assets/logohd.jpg"
              alt="Random first slide"
              style="width: 100%; height: 100%"
            />
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              src="./assets/carfront.jpg"
              alt="Random first slide"
              style="width: 100%; height: 100%"
            />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Car Name</th>
            <th scope="col">Car Year</th>
            <th scope="col">Delete Car</th>

          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let car of cars">
            <th [routerLink]="['/cars', car.carId]" routerLinkActive="router-link-active" style="cursor: pointer;" scope="row">{{car.carName}}</th>
            <td>{{car.year}}</td>
            <td><button type="button" class="btn btn-light" (click)="onDelete(car)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ngb-accordion  #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Add Car">
      <ng-template ngbPanelContent>
        <form [formGroup]="carForm" (ngSubmit)="submit()">
          <fieldset>
            <div class="form-group">
              <label for="carModel" class="form-label mt-4"
                >Add Car Model</label
              >
              <input
                type="text"
                class="form-control"
                id="carModel"
                placeholder="Car Name"
                formControlName="carName"
              />
            </div>
            <div class="form-group">
              <label for="carYear" class="form-label mt-4">Car Year</label>
              <input
                type="text"
                class="form-control"
                id="carYear"
                placeholder="Car Year"
                formControlName="carYear"
              />
            </div>
            <div class="form-group">
              <button
                class="btn btn-lg btn-light"
                type="submit"
                style="width: 100%"
              >
                Add Car
              </button>
            </div>
          </fieldset>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
